.container {
  max-width: none;
  margin: 0 auto;
  padding: 0 $vs2;
  position: relative;
  @media only screen and (min-width: $grid-md) {
    max-width: 1080px;
  }
}

.layout {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 (-$vs1);

  $cols: 12;
  @for $i from 1 through $cols {
    .col-#{$i}, .col-xs-#{$i} {
      box-sizing: border-box;
      flex: 0 0 auto;
      padding: 0 ($vs2/2);
      
      $size: ($i / $cols) * 100%;
      flex-basis: $size;
      max-width: $size;
    }
  }
  @include media-query($grid-xs) {
    @for $i from 1 through $cols {
      .col-sm-#{$i} {
        box-sizing: border-box;
        flex: 0 0 auto;
        padding: 0 ($vs2/2);
        $size: ($i / $cols) * 100%;
        flex-basis: $size;
        max-width: $size;
      }
    } 
  }
  @include media-query($grid-sm) {
    @for $i from 1 through $cols {
      .col-md-#{$i} {
        box-sizing: border-box;
        flex: 0 0 auto;
        padding: 0 ($vs2/2);
        $size: ($i / $cols) * 100%;
        flex-basis: $size;
        max-width: $size;
      }
    } 
  }
  @include media-query($grid-md) {
    @for $i from 1 through $cols {
      .col-lg-#{$i} {
        box-sizing: border-box;
        flex: 0 0 auto;
        padding: 0 ($vs2/2);
        $size: ($i / $cols) * 100%;
        flex-basis: $size;
        max-width: $size;
      }
    } 
  }
  @include media-query($grid-lg) {
    @for $i from 1 through $cols {
      .col-xl-#{$i} {
        box-sizing: border-box;
        flex: 0 0 auto;
        padding: 0 ($vs2/2);
        $size: ($i / $cols) * 100%;
        flex-basis: $size;
        max-width: $size;
      }
    } 
  }
}

.centered {
  text-align: center;
}
.flex {
  display: flex;
}
.spacer {
  flex-grow: 1 !important;
}