// Font sizes
$fs-xs: 12;
$fs-sm: 16;
$fs-md: 24;
$fs-lg: 32;
$fs-xl: 48;

// Base font size
$base-font-size: $fs-sm * 1px;
// Line height ratio
$lhr: 1.4;

// Colors
$c-bg-1: rgb(255, 255, 255);
$c-bg-2:rgb(234, 234, 237);
$c-text-1: rgb(50, 59, 82);
$c-text-2: rgb(255, 255, 255);
$c-text-3: rgb(244, 129, 30);
$c-link-1: rgb(48, 74, 141);
$c-link-1-hover: rgb(0, 0, 0);
$c-keyline-1: rgba(226, 226, 226, 0.7);

// Fonts
$font-1: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;

// Animations
$at1: 300ms;
$at2: 700ms;
$ac1: ease-in-out;
$ac2: cubic-bezier(0.645, 0.045, 0.355, 1);
$ac3: cubic-bezier(.25,1.7,.35,.8);

// Vertical Spacing
$vs-1: 12px;
$vs-2: 24px;
$vs-3: 48px;
$vs-4: 96px;
$vertical-spacing: ($vs-1, $vs-2, $vs-3, $vs-4);

// Grid
$grid: (
  xs: 0px,
  sm: 600px,
  md: 960px,
  lg: 1280px,
  xl: 1920px
);
$grid-margin: $vs-2;
$grid-gutter: $vs-2;
$grid-cols: 12;